extends layout

block content
  br
  div.container
    div.grid
      each pin in pins
        div.grid-item
          img(src='#{pin.url}')
          br
          span= pin.title
          br
          br
          a.btn.btn-outline-primary.btn-sm(href='/delete/#{pin.id}') 删除